# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI
permissions:
  contents: read

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1
      name: checkout

    - uses: actions/cache@v5.0.1
      name: Cache NPM dependencies
      id: npm-cache
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-npm-

    - uses: actions/setup-node@v6.1.0
      name: build
      with:
        node-version: "22"
        cache: 'npm'
    - run: npm ci --prefer-offline --no-audit
    
    - name: build with NPM
      run: npm run build --if-present
      
    - name: run test
      run: npm run test
      
    - name: lint
      run: npm run lint
